*
{
	margin: 0;
	padding: 0;
}

a
{
	color: black;
	text-decoration: none;
}

header
{
	padding-top: 60px;
	padding-bottom: 50px;
	background: rgb(101,170,255);
	background: linear-gradient(90deg, rgba(101,170,255,1) 8%, rgba(18,12,117,1) 100%);
}

footer
{
	color: #164d7a;
}

h1
{
	font-size: 37px;
	letter-spacing: 1px;
	line-height: 49px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Ubuntu";
	margin-bottom: 70px;
}

h2
{
	padding-top: 110px;
	text-align: center;
}

p
{
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 27px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Open Sans";
}

span
{
	font-size: 40pt;
}

footer
{
	background-color: #164d7a;
	color: white;
	padding: 40px 0;
}

form
{
	margin-top: 55px;
}

input
{
	display: block;
	margin: 10px auto;
	padding: 2px;
	width: 343px;
	height: 48px;
	border-radius: 3px;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	font-size: 16pt;
}

#logo
{
	width: 130px;
}

#button1
{
	width: 222px;
	height: 56px;
	background-color: #ffd429;
	margin-top: 40px;
	border-radius: 5px;
	border: 0;
}

#button1:hover
{
	background-color: #ffa200;
}

#button1 a
{
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 25px;
	color: #2e2a1b;
	font-weight: 900;
	font-family: "Montserrat";
}

#header-intro-block
{
	color: white;
	margin:  auto 0;
}

#header-intro-block p
{
	width: 400px;
}

#header-intro-block h1
{
	width: 570px;
}

.mainBox
{
	width: 1170px;
	margin: 0 auto;
}

.header-wrapper
{
	display: flex;
	justify-items: space-between;
}

#whatNextMainBlock
{
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}

.nextBlock
{
	width: 290px;
}

.nextBlock img
{
	display: block;
	margin: 70px auto 20px;
}

.nextBlock h3
{
	margin-bottom: 20px;
	text-align: center;
	font-size: 19px;
	letter-spacing: 0px;
	line-height: 25px;
	color: #201b2d;
	font-weight: 700;
	font-family: "Ubuntu";
}

.nextBlock p
{
	width: 298px;
	height: 74px;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 22px;
	color: #201b2d;
	font-weight: 400;
	font-family: "Ubuntu";
	text-align: center;
}


#formSectionBlock
{
	background-color: #ecf2f8;
	padding-bottom: 100px;
}



#formButt
{
	width: 343px;
	height: 56px;
	border-radius: 10px;
	background-color: #ffd429;
	margin: 25px auto 0;
	display: block;
	font-size: 17px;
	letter-spacing: 0px;
	line-height: 25px;
	color: #2e2a1b;
	font-weight: 900;
	font-family: "Montserrat";
	}

#formButt:hover
{
	background-color: #ffa029;
}



footer p
{
	text-align: center;
}
